<footer class="footer-distributed">
  <div class="container">
    <div class="footer">
      <p>{{ site.author }} &copy; {{ site.copyright }}</p>
      <p>Blog post content is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 license</a>.</p>
      <p>Jekyll Theme is <a href="https://github.com/streetturtle/jekyll-clean-dark">Jekyll Clean Dark</a> by Pavel
        Makhov, used under the CC-BY 4.0 license</p>
    </div>
  </div>
</footer>